header{
    display:flex;
    padding-inline: 16px;
    padding-block: 8px;
    background-color: black;
    color:white;
    align-items: center;
    justify-content: space-between;
    >span{
         cursor: pointer;
                &:hover{
                    text-decoration: underline;
                    color: lightgray;
                }
    }
    nav{
        display: flex;
        align-items: center;
        gap: 16px;
        ul{
            list-style: none;
            display: flex;
            gap: 16px;
            li{
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                    color: lightgray;
                }
            }
        }   
    }
}